{% extends '::base.html.twig' %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            {% include ':default:menu_left.html.twig' %}

            <div class="col-md-9">

                <div class="thumbnail">
                    <div class="caption-full">
                        <h1><a href="#">Faq Simuloto</a></h1>
                        <h4>Principes d&rsquo;une simulation de loterie</h4>
                        <p>Une simulation de loterie consiste &agrave; simuler la loterie de votre choix. La simulation tente d&rsquo;imiter au mieux le principe du jeu r&eacute;el. Faire une simulation en ligne vous permet de vous faire une id&eacute;e pratique des probabilit&eacute;s de chance de gagner &agrave; la loterie r&eacute;elle.</p>

                        <h4>Comment effectuer une simulation?</h4>
                        <p>Pour effectuer une simulation, il suffit de cocher un nombre suffisant de num&eacute;ros et de cliquer sur le bouton &laquo; simuler &raquo; pour effectuer la simulation.</p>
                        
                        <h4>Comment voir les r&eacute;sultats de la simulation ?</h4>
                        <p>Apr&egrave;s avoir cliqu&eacute; sur le bouton &laquo; simuler &raquo;, le r&eacute;sultat de la simulation est visible dans un tableau situ&eacute; en dessous de la grille de jeu. Il est possible de voir chaque tirage de la simulation en d&eacute;tail en cliquant sur le bouton &laquo; voir d&eacute;tails &raquo;.</p>

                        <h4>R&egrave;gles simulation</h4>
                        <p>Une simulation consiste &agrave; choisir un nombre minimum de num&eacute;ros et de lancer le jeu. Si vous d&eacute;sirez jouer une grille multiple, il vous faudra respecter le mod&egrave;le d&rsquo;une grille multiple de la simulation que vous souhaitez effectuer.</p>

                        <h4>Qu&rsquo;y a t-il &agrave; gagner en effectuant une simulation ?</h4>
                        <p>Absolument rien si ce n&rsquo;est le plaisir de simuler le jeu. Simuloto est une application gratuite de simulateur de loterie. Si vous souhaitez jouer en ligne &agrave; la loterie de votre choix, et &ecirc;tre r&eacute;tribu&eacute; par des gains r&eacute;els, il faut vous rendre sur le site officiel de la loterie de votre choix.</p>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->
{% endblock  %}