{% extends "::base.html.twig" %}

{% block title %}SimulotoBundle:Default:Index{% endblock %}

{% block body %}
<h1>Welcome to the index page</h1>
    <script>

    
    <button>Click me</button>
    
    <div id="afficheScore"></div>
    
{% endblock %}
