<!DOCTYPE html>
<html lang="fr">
    
{% include ':default:head.html.twig' %}

<body>
    
    {% include ':default:navigation.html.twig ' %}

    {% block content %}{% endblock content %}
    
    {% include ':default:footer.html.twig' %}

</body>
</html>
        

