<!DOCTYPE html>
<html lang="fr">

<head>
{% embed ':default:head.html.twig' %}{% endembed %}
    
    {# included on simulation content.html.twig  #}
    {% block simulationIncludes %}{% endblock %}
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <title>{% block title %}{% endblock %}</title>

</head>

<body>
{% include ':default:facebookSDK.html.twig' %}

{% block facebookComment %}{% endblock facebookComment %}
    
{% embed ':default:navigation.html.twig' %}{% endembed %}

{% block content %}{% endblock content %}

{% embed ':default:footer.html.twig' %}{% endembed %}
</body>
</html>


