<!DOCTYPE html>
<html lang="fr">

<head>
{% embed ':default:head.html.twig' %}{% endembed %}

    {# Euromillions simulation css and js #}
    {% block euromillionsSimulationIncludes %}{% endblock %}
    {# LottoSimulation #}
    {% block lottoSimulationIncludes %}{% endblock %}
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <title>{% block title %}{% endblock %}</title>

</head>

<body>

{% embed ':default:navigation.html.twig ' %}{% endembed %}

{% block content %}{% endblock content %}

{% embed ':default:footer.html.twig' %}{% endembed %}

</body>
</html>


