<div class="col-md-3">
    <p class="lead">Simulations en ligne</p>
    <div class="list-group">
        <a href="{{path('play_lotto_game')}}" class="list-group-item linkLotto">Simulation Lotto Belgique</a>
        <a href="{{path('play_loto_game')}}" class="list-group-item linkLoto">Simulation Loto France</a>
        <a href="{{path('play_euromillions_game')}}" class="list-group-item linkEuromillions">Simulation Euromillions</a>
    </div>
</div>