<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}" />
        <title>Erreure</title>
    </head>
    <body>
        <h1>Oops! Une erreure est survenue</h1>
        <div>
            Veuillez actualiser la page ou contacter l'administrateur du site.
        </div>
    </body>
</html>