{% block modelMultiple %}
<table id="multipleGrid" class="table table-condensed text-center">
    <caption>Mod&egrave;le de grille multiple</caption> 
            <thead>
                <tr>
                    <th></th>
                    <th>5 numéros</th>
                    <th>6 numéros</th>
                    <th>7 numéros</th>
                    <th>8 numéros</th>
                    <th>9 numéros</th>
                    <th>10 numéros</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>2 étoiles coch&eacute;es</th>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                </tr>
                <tr>
                    <th>3 étoiles coch&eacute;es</th>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                </tr>
                <tr>
                    <th>4 étoiles coch&eacute;es</th>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></span></td>
                </tr>
                <tr>
                    <th>5 étoiles coch&eacute;es</th>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></span></td>
                </tr>
                <tr>
                    <th>6 étoiles coch&eacute;es</th>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                </tr>
                <tr>
                    <th>7 étoiles coch&eacute;es</th>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                </tr>
                <tr>
                    <th>8 étoiles coch&eacute;es</th>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                </tr>
                <tr>
                    <th>9 étoiles coch&eacute;es</th>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                </tr>
                <tr>
                    <th>10 étoiles coch&eacute;es</th>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                </tr>
                <tr>
                    <th>11 étoiles coch&eacute;es</th>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                </tr>
                
            </tbody>
    </table>
{% endblock %}