{% extends '::base.html.twig' %}

{% block title %}Simulation Loto France{% endblock %}

{% block simulationIncludes %}

    {% stylesheets 'bundles/simuloto/css/loto_fr_custom.css' 
                   'bundles/simuloto/css/bootstrap-toggle.css' filter='cssrewrite'  %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    {# note: to use bootstrapToggle() function: euromillionsSimulation MUST be loaded before bootstrap-toggle.js  #}
    {%  javascripts 'bundles/simuloto/js/lotoFrSimulation.js' 'bundles/simuloto/js/bootstrap-toggle.js' 
                    'bundles/simuloto/js/router.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}  

{% endblock %}

{% block content %}
    <!-- Page Content -->
    
    {# code for plugn Facebook comment #}
    {% block facebookComment %}
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id))
                return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.7&appId=1227263770649507";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    {% endblock %}
    
    <div class="container">
        <div class="row">

            {% include ':default:menu_left.html.twig' %}

            <div class="col-md-9">

                <div class="thumbnail">
                    <div class="caption-full">
                        <h1>Simulation Loto France</h1>
                        <p class="toggle_p">Voir mod&egrave;le de grille multiple</p>
                        
                        {% include 'SimulotoBundle:LotoFr:model_multiple.html.twig' %}
                        
                        <h4 class="pull-right">Cochez minimum 5 chiffres et 1 n&deg; chance</h4>
                        
                        {% include 'SimulotoBundle:LotoFr:form_lotoFr_simulation.html.twig' %}
                        
                        <div id="score"></div>
                        <div id="scoreDetails"></div>
                        <div id="details"></div>
                    </div>
                </div>

                <div class="well">

                    <div class="well">
                        <div class="fb-comments" data-href="http://localhost/Simuloto/web/app_dev.php/playEuromillions" data-numposts="5" data-mobile="true"></div>

                        <div class="text-right">
                            <a class="btn btn-success">Leave a Review</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
{% endblock %}