{% block modelMultiple %}

<table id="multipleGrid" class="table table-striped text-center">
    <caption>Mod&egrave;le de grille multiple</caption> 
            <thead>
                <tr>
                    <th></th>
                    <th> 5 numéros </th>
                    <th> 6 numéros </th>
                    <th> 7 numéros </th>
                    <th> 8 numéros </th>
                    <th> 9 numéros </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1 n&deg; chance coch&eacute;</th>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                </tr>
                <tr>
                    <th>2 n&deg; chance coch&eacute;</th>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td>non</td>
                </tr>
                <tr>
                    <th>3 n&deg; chance coch&eacute;</th>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td>non</td>
                </tr>
                <tr>
                    <th>4 n&deg; chance coch&eacute;</th>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                </tr>
                <tr>
                    <th>5 n&deg; chance coch&eacute;</th>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                </tr>
                <tr>
                    <th>6 n&deg; chance coch&eacute;</th>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                </tr>
                <tr>
                    <th>7 n&deg; chance coch&eacute;</th>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                </tr>
                <tr>
                    <th>8 n&deg; chance coch&eacute;</th>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                </tr>
                <tr>
                    <th>9 n&deg; chance coch&eacute;</th>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                </tr>
                <tr>
                    <th>10 n&deg; chance coch&eacute;</th>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-ok glyphOkColor"></span></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                    <td><span class="glyphicon glyphicon-remove glyphRemoveColor"></td>
                </tr>                
            </tbody>
    </table>
{% endblock %}