{% extends "::base.html.twig" %}
{% block title %}SimulotoBundle:Lotto:lotto{% endblock %}



{% block body %}
<h1>Welcome to the Lotto:result page</h1>
{{form(form)}}               
        {% block javascripts %}
            {%  javascripts 'bundles/simuloto/js/simulotto.js' %}
                 <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
{% endblock %}
